<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Convert your favorite song into mathematical art." />
    <meta name="keywords" content="art" />
    <title>Audio Optio</title>

    <link rel="apple-touch-icon" sizes="57x57" hrref="~/Images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" hrref="~/Images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" hrref="~/Images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" hrref="~/Images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" hrref="~/Images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" hrref="~/Images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" hrref="~/Images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" hrref="~/Images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" hrref="~/Images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" hrref="~/Images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" hrref="~/Images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" hrref="~/Images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" hrref="~/Images/favicon/favicon-16x16.png">
    <link rel="manifest" hrref="~/Images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/Images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/fonts")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/fancybox")
    @Scripts.Render("~/bundles/analytics")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img id="logo_img" src="~/Images/dark-to-light-logo.png" alt="Audio Optio" onclick="location.href='@Url.Action("Index", "Home")'">
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("About", "About", "Home", new { }, new { @class = "nav_link" })</li>
                    <li>@Html.ActionLink("Gallery", "Gallery", "Home", new { }, new { @class = "nav_link" })</li>
                    <li>@Html.ActionLink("Order", "Order", "Order", new { }, new { @class = "nav_link" })</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Contact", new { }, new { @class = "nav_link" })</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    <div class="panel panel-footer">
        <div class="row">
            <p><a href="http://audio-optio.com">www.audio-optio.com</a></p>
            <p><a href="mailto:audio.optio@gmail.com">audio.optio@gmail.com</a></p>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
