<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio Optio</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/fonts")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/fancybox")
    @Scripts.Render("~/bundles/analytics")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img id="logo_img" src="~/Images/dark-to-light-logo.png" alt="Audio Optio" onclick="location.href='@Url.Action("Index", "Home")'">
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("About", "About", "Home", new { }, new { @class = "nav_link" })</li>
                    <li>@Html.ActionLink("Gallery", "Gallery", "Home", new { }, new { @class = "nav_link" })</li>
                    <li>@Html.ActionLink("Order", "Order", "Order", new { }, new { @class = "nav_link" })</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Contact", new { }, new { @class = "nav_link" })</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    <div class="panel panel-footer">
        <div class="row">
            <p>http://audio-optio.science</p>
            <p><a href="mailto:ry_henderson@yahoo.com">audio.optio@gmail.com</a></p>
        </div>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
