<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Convert your favorite song into mathematical art." />
    <meta name="keywords" content="art" />
    <title>Audio Optio</title>    

    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />


    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/fonts")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/fancybox")
    @Scripts.Render("~/bundles/analytics")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img id="logo_img" src="~/Images/dark-to-light-logo.png" alt="Audio Optio" onclick="location.href='@Url.Action("Index", "Home")'">
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("About", "About", "Home", new { }, new { @class = "nav_link" })</li>
                    <li>@Html.ActionLink("Gallery", "Gallery", "Home", new { }, new { @class = "nav_link" })</li>
                    <li>@Html.ActionLink("Order", "Order", "Order", new { }, new { @class = "nav_link" })</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Contact", new { }, new { @class = "nav_link" })</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    <div class="panel panel-footer">
        <div class="row">
            <div class="col-sm-12">
                <p><a href="http://audio-optio.com">www.audio-optio.com</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p><a href="mailto:audio.optio@gmail.com">audio.optio@gmail.com</a></p>
            </div>
        </div>
    </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
