@model audio_optio.Models.ContactOrderModel

@{
    ViewBag.Title = "Order";
}

<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});
</script>

<style>
    .popover-title {
    font-size: 20px;
    font-family:'Lobster-Regular';
}
.popover-content {
    font-size: 15px;
    max-width:50% !important;
}

span
{
    display:inline-block;
    cursor:pointer;
    color:#008B8B;
    transition:ease-in .5s;
    font-size:20px;
}

span:hover
{
    color:black;
    transition:ease-in .5s;
}

.modal-header
{
    font-family:'Lobster-Regular';
    font-size:30px;
}


</style>


<div style="display:inline-block" class="emphasize">@ViewBag.Title</div>
         
<span class="glyphicon glyphicon-info-sign"  data-toggle="modal" data-target="#myModal"></span>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">How to Order</h4>
            </div>
            <div class="modal-body">
                <p>In order to start the process of ordering, you'll need to send some important information including:</p>
                <ul>
                    <li>a link to your favorite song on YouTube,</li>
                    <li>your preferred color theme,</li>
                    <li>desired canvas size,</li>
                    <li>and any general comments that will help me to create artwork that is perfect for you!</li>
                </ul>

                <p>I will contact you as soon as I receive and review your order to discuss further and to deliver three samples.</p>
                <p>Depending on print shop supply and demand, you should receive your canvas within 2-3 weeks of ordering!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>


@using (Html.BeginForm("Create", "Order", FormMethod.Post))
{
    if (@Model.success)
    {
        <div class="row">
            <div class="col-lg-12 alert alert-success">
                Thank you!  Your order has been submitted.  Ryan will be in touch with you shortly.
            </div>
        </div>

    }

    if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
    {
        <div class="alert alert-danger" role="alert">
            <a class="close" data-dismiss="alert">×</a>
            @foreach (ModelError modelError in Html.ViewData.ModelState.SelectMany(keyValuePair => keyValuePair.Value.Errors))
            {
                <p>@modelError.ErrorMessage</p>
            }
        </div>
    }

    <div class="row">
        <div class="col-md-3">@Html.Label("First Name")</div>
        <div class="col-md-9">@Html.TextBoxFor(c => c.contact.FirstName, new { @class = "form-control" })</div>
    </div>

    <div class="row">
        <div class="col-md-3">@Html.Label("Last Name")</div>
        <div class="col-md-9">@Html.TextBoxFor(c => c.contact.LastName, new { @class = "form-control" })</div>
    </div>

    <div class="row">
        <div class="col-md-3">@Html.Label("Phone Number")</div>
        <div class="col-md-9">@Html.TextBoxFor(c => c.contact.Phone, new { @class = "form-control" })</div>
    </div>

    <div class="row">
        <div class="col-md-3">@Html.Label("E-mail Address")</div>
        <div class="col-md-9">@Html.TextBoxFor(c => c.contact.Email, new { @class = "form-control" })</div>
    </div>

    <div class="row">
        <div class="col-md-3">@Html.Label("Song Name and Artist")</div>
        <div class="col-md-9">@Html.TextBoxFor(c => c.order.Song, new { @class = "form-control" })</div>
    </div>

    <div class="row">
        <div class="col-md-3">@Html.Label("Comments")</div>
        <div class="col-md-9">@Html.TextAreaFor(c => c.order.Comments, new { @class = "form-control", @rows = 10 })</div>
    </div>

    <div class="row">
        <div class="col-md-3">@Html.Label("Order Type")</div>
        <div class="col-md-9">@Html.DropDownListFor(m => m.order.Size, @Model.dropDownLabels, new { @class = "form-control" })</div>
    </div>

    <div class="row">
        <div class="col-md-3">@Html.Label("Discount Code")</div>
        <div class="col-md-9">@Html.TextBoxFor(c => c.order.DiscountCode, new { @class = "form-control" })</div>
    </div>
    
    <div class="row">
        <div class="col-md-2 col-md-offset-5">
            <input class="transition-button" type="submit" value="Continue to Payment" />
        </div>
    </div>
}

